:host {
  section {
    padding-top: 100px;
    .contact .info-item + .info-item {
      margin-top: 40px;
    }

    .contact .info-item i {
      font-size: 20px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      margin-right: 15px;
      box-shadow: 0 0 3px currentColor;
    }

    .contact .info-item h4 {
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .contact .info-item p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
      color: inherit;
    }

    @keyframes animate-loading {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
