<section class="posts" id="posts">
  <div class="container">
    <h3>Sample Posts</h3>
    <hr />
    <div class="my-3">
      <a href="New"><button class="btn btn-outline-primary">New</button></a>
    </div>
    <div class="row gy-4 justify-content-center">
      <div class="col-xl-8 col-lg-4 col-md-6 one">
        <h1>One</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aliquid
          nobis, ad vitae molestiae error sed. Fugit asperiores ea, id
          voluptatibus beatae suscipit magni sint modi est error soluta quas
          rerum excepturi quos nihil? Aperiam officia aliquid voluptatem,
          dolores quasi eaque quam impedit ut laborum deleniti voluptas iusto
          velit maiores quidem soluta delectus eius repellat mollitia quos quas
          vel. Esse explicabo provident eum dolorum expedita maxime illo
          possimus quo culpa fugit officiis tenetur omnis laboriosam, nemo
          aperiam consequuntur? Eaque modi beatae et officia earum autem rem
          sapiente, molestiae obcaecati vitae iste ut, nostrum doloribus dicta
          fugit dignissimos natus eius dolorum.
        </p>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 two">
        <h1>Two</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          voluptatem numquam nisi necessitatibus officia recusandae dolor eos
          accusamus quibusdam. Ipsa debitis et, consequatur ex consequuntur sint
          provident maxime dicta aspernatur!
        </p>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 tree">
        <h1>Tree</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nobis,
          ratione nulla provident beatae ipsum! Saepe illo officia praesentium
          officiis iure, mollitia autem quam neque debitis quod quas, nihil,
          reprehenderit quibusdam magni beatae consectetur ducimus repellat et
          culpa? Aspernatur, ab. Sed itaque incidunt optio obcaecati vitae
          aliquam tempora debitis, nostrum natus veritatis distinctio eveniet
          recusandae eius reiciendis corporis hic, omnis beatae dolorum harum!
          Magnam ex asperiores eaque quos, aperiam quasi minus qui recusandae
          voluptatem vitae tenetur eius. Repellat, cumque mollitia!
        </p>
      </div>
      <div class="col-xl-8 col-lg-4 col-md-6 four">
        <h1>Four</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem non
          nihil debitis optio molestias id aliquid ipsum eligendi aspernatur,
          atque officia ut voluptates cum ab repellendus consectetur hic, neque
          voluptatibus ipsam. Laudantium eligendi alias fuga ex dolore animi,
          maxime numquam sint, provident asperiores exercitationem rem. Quam
          minima porro, nihil nam dicta ullam. Amet minus consequatur, delectus
          harum possimus quod doloremque deserunt itaque sapiente? Libero, amet.
          Atque amet quo accusamus nesciunt ipsam. In doloribus similique
          voluptatum, beatae libero vel laudantium, exercitationem hic eligendi
          labore corporis ipsum voluptatem aspernatur fuga nam suscipit animi
          ullam ipsa earum perferendis sit assumenda cumque, harum autem. Fuga
          tenetur cumque est ducimus in autem nostrum eligendi nam voluptatum,
          quae eos expedita similique distinctio natus, ea illo perspiciatis
          delectus laborum iste molestiae repellendus nihil non consequatur! Sed
          inventore minus iste! Maxime totam facere labore nostrum rerum
          tempore, mollitia magni doloribus ipsam voluptatum nobis commodi
          tenetur doloremque numquam cupiditate, quidem pariatur earum
          asperiores maiores sint odit dicta vel! Ipsam, repellat quisquam atque
          iste at porro iure harum, repudiandae exercitationem nostrum unde
          dolore nam magnam, vitae deserunt qui asperiores fugit! Perferendis
          explicabo rem soluta eveniet debitis beatae laudantium unde, dolor
          ducimus hic ipsa voluptatem numquam sapiente veritatis, facilis omnis
          dolorum?
        </p>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 five">
        <h1>Five</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium
          neque sit voluptatum commodi veritatis asperiores velit error ipsam
          cupiditate quaerat.
        </p>
      </div>
    </div>
  </div>
</section>
