:host {
  section {
    padding-top: 150px;
    .container {
      width: 100%;
      min-height: 100vh;
      // .one {
      //   background-color: red;
      // }
      // .two {
      //   background-color: pink;
      // }

      // .tree {
      //   background-color: green;
      // }
      // .four {
      //   background-color: greenyellow;
      // }

      // .five {
      //   background-color: blue;
      // }
    }
  }
}
