<footer id="footer" class="footer text-body shadow-lg py-5">
  <div class="container my-5">
    <div class="row gy-2 justify-content-center align-items-center">
      <div
        class="col-xl-4 col-lg-4 col-md-6 mb-5 footer-info d-flex flex-column justify-content-center align-items-center"
      >
        <a
          [routerLink]="['home']"
          class="logo mb-5 d-flex align-items-center text-center text-md-start"
        >
          <span>Iris Revival Church</span>
        </a>
        <p>
          Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
          terra videa magna derita valies darta donna mare fermentum iaculis eu
          non diam phasellus.
        </p>
        <div class="social-links d-flex mt-4">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-telegram"></i></a>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 footer-links d-flex flex-column justify-content-center align-items-center"
      >
        <h2>Our Services</h2>
        <ul class="text-body-secondary">
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 footer-contact text-center text-md-start"
      >
        <h2>Contact Us</h2>
        <p>
          A108 Adam Street <br />
          New York, NY 535022<br />
          United States <br /><br />
          <strong>Phone:</strong> +1 5589 55488 55<br />
          <strong>Email:</strong> {{ "info@example.com" }}<br />
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="copyright text-body">
        &copy; Copyright <strong><span>Iris</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a [href]="['https://www.github.io/samuel-cossa']"
          ><b class="designer text-body"
            >Luz<span class="active">Informatica</span></b
          ><i class="bi bi-github"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
