<footer id="footer" class="footer">
  <div class="container my-5">
    <hr class="active" />
  </div>
  <div class="container my-5">
    <div class="row gy-2 justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-6 b">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">About</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">About</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 l">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email address"
            />
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="copyright text-body">
        &copy; <i class="bi-github active"></i>
        <strong><span> Iris Revival Church</span></strong
        >. {{ currentYear }} . All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a [href]="['https://github.io/samuel-cossa']"
          ><b class="designer text-body"
            >Luz<span class="active">Informatica</span></b
          ></a
        >
      </div>
    </div>
  </div>
</footer>
