:host {
  footer {
    margin-top: 50px;
    font-size: 13px;
    padding: 0px !important;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      border-top: 0.2px solid currentColor !important;
      .copyright i {
        color: linear-gradient(to right, #f82249, cornflowerblue) !important;
      }

      .credits {
        text-align: center;
        font-size: 13px;
      }
      .designer:hover {
        color: var(--color-links);
      }
    }
  }
}
