/* You can add global styles to this file, and also import other style files */

@use "bootstrap/scss/bootstrap.scss";
@use "bootstrap-icons/font/bootstrap-icons.scss";

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-secondary: "Cardo", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-links: #f82249;
  --color-primary: #ef084d;
  --color-links-hover: var(--color-primary);

  --color-default: #0a0d13;
  // --color-primary: #0d42ff;
  --color-secondary: #0e1d34;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  min-height: 100vh !important;
}

a {
  text-decoration: none !important;
  transition: 0.3s !important;
  outline: none;
}

li {
  list-style: none;
}

a:hover,
.active {
  background: linear-gradient(to right, #f82249, cornflowerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  min-height: 100vh !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
  // font-weight: 100 !important;
}

.btn {
  border-radius: 50px;
}
